<%- include('../includes/head.ejs') %>
    <%- include('../includes/heading.ejs') %>
        <div class="my-2 d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6">
                        <div class="card bg-white">
                            <div class="card-body p-5">
                                <form class="    mt-md-4" action="/signup" method="post">
                                    <h2 class="fw-bold mb-2 text-uppercase ">Hello</h2>
                                    <p class=" mb-5">Please enter your email and password!</p>
                                    <div class="mb-3">
                                        <label for="name" class="form-label ">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label ">Email address</label>
                                        <input type="email" class="form-control" id="email" name="email"
                                            placeholder="name@example.com">
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label ">Password</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                            placeholder="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="confPass" class="form-label ">Confirm Password</label>
                                        <input type="password" class="form-control" id="confPass" name="confPass"
                                            placeholder="">
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-outline-dark" type="submit">Sign
                                            Up</button>
                                    </div>
                                </form>
                                <div>
                                    <p class="my-1  text-center">Have an account? <a href="/login"
                                            class="text-primary fw-bold">Sign
                                            in</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../includes/end.ejs') %>